.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  
}

.skillList{
  list-style-type: none;
  font-weight: 500;
}

@media only screen and (max-width: 776px) {
  .container {
    padding: 1rem;
  }
}