.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  
}

.skillList{
  list-style-type: none;
  font-weight: 500;
}

@media only screen and (max-width: 850px) {
  .container {
    padding: 1rem;
    margin: 0;
  }
}