.headerContainer {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 2px -2px gray;
  opacity: 1;
  background-color: #d5f0f6;
  margin-bottom: 1rem;
}
.headerLinkContainer {
  display: flex;
  text-transform: capitalize;
  gap: 1.5rem;
  font-size: 1.2rem;
}



