.container {
  padding: 0 2rem;
}

.headerBorder {
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 1rem;
}

.infoTitle {
  font-size: 1rem;
  text-transform: uppercase;
  color: #FF00FF;
  margin-bottom: 0.5rem;
}

.infoBox {
  margin-left: 1.5rem;
}

.infoContainer {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.learningContainer {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #d0d0d0;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
}

@media only screen and (max-width: 776px) {
  .infoContainer {
    flex-direction: column;
    gap: 0;
  }

  .learningContainer {
    border-left: none;
    border-top: 1px solid #d0d0d0;
    padding: 1rem;
  }
}